html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/Img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-family: pacifico;
    color: white;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(42, 38, 61, 0.82);
}

.judul {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #FCB371;
}

.back {
    position: absolute;
    top: 80px;
    left: 56px;
}

form {
    position: absolute;
    top: 25%;
    left: 580px
}

input {
    position: absolute;
    width: 382px;
    height: 25px;
    padding: 16px;
    border-radius: 14px;
    border: none;
    font-family: 'Roboto Condensed';
}

input.email {
    top: 80px;
}

input.phone {
    width: 170px;
    top: 160px;
}

select {
    position: absolute;
    top: 160px;
    left: 220px;
    width: 193px;
    height: 55px;
    border-radius: 14px;
    border: none;
    padding: 16px;
    font-family: 'Roboto Condensed';
}

textarea {
    position: absolute;
    top: 240px;
    border-radius: 14px;
    padding: 10px;
    width: 390px;
    font-family: 'Roboto Condensed';
}

button {
    position: absolute;
    top: 89%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 38px;
    border-radius: 14px;
    border: none;
    font-family: 'pacifico';
    color: white;
    background-color: #FCB371;
}

button:hover {
    background-color: rgb(209, 142, 84);
}